<body>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Register</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="input-box">
                    <span class="icon"><mat-icon>person</mat-icon></span>
                    <input type="text" formControlName="name" required>
                    <label>Name</label>
                    <div class="form-text text-danger pt-2" *ngIf="name.errors?.['required'] && (name.touched || name.dirty || invalid)"> 
                        Name is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="name.errors?.['minlength'] && (name.touched || name.dirty)"> 
                        Name is too short.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="name.errors?.['pattern'] && (name.touched || name.dirty) && !name.errors?.['minlength']"> 
                        Name should be in Alphabet.
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon"><mat-icon>mail</mat-icon></span>
                    <input type="email" formControlName="email" required>
                    <label>Email</label>
                    <div class="form-text text-danger pt-2" *ngIf="email.errors?.['required'] && (email.touched || email.dirty || invalid)"> 
                        Email is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)"> 
                        Email is Invalid.
                    </div>
                </div>

                <div class="input-box">
                    <span class="icon"><mat-icon>call</mat-icon></span>
                    <input type="text" formControlName="mobile" required>
                    <label>Mobile</label>
                    <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty || invalid)"> 
                        Mobile is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['minlength'] && (mobile.touched || mobile.dirty) && !mobile.errors?.['pattern']"> 
                        Mobile is too Short.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['maxlength'] && (mobile.touched || mobile.dirty) && !mobile.errors?.['pattern']"> 
                        Mobile is too Long.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['pattern'] && (mobile.touched || mobile.dirty)"> 
                        Mobile should be in Numbers.
                    </div>
                </div>


                <div *ngIf="!showOtpField" class="input-box">
                    <span (click)="pHide = !pHide" class="icon" style="cursor: pointer;"><mat-icon>{{ pHide?"visibility":"visibility_off" }}</mat-icon></span>
                    <input [type]="pHide? 'password' : 'text' " formControlName="password" required>
                    <label>Password</label>
                    <div class="form-text text-danger pt-2" *ngIf="password.errors?.['required'] && (password.touched || password.dirty || invalid)"> 
                        Password is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="password.errors?.['minlength'] && (password.touched || password.dirty)"> 
                        Password is too Short.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="password.errors?.['maxlength'] && (password.touched || password.dirty)"> 
                        Password is too Long.
                    </div>
                </div>


                <div *ngIf="!showOtpField" class="input-box">
                    <span (click)="cHide = !cHide" class="icon" style="cursor: pointer;"><mat-icon>{{ cHide?"visibility":"visibility_off" }}</mat-icon></span>
                    <input [type]=" cHide?'password':'text' " formControlName="confirmPassword" required>
                    <label>Confirm Password</label>
                     <div class="form-text text-danger pt-2" *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.touched || confirmPassword.dirty || invalid)"> 
                        Confirm password is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="confirmPassword.errors?.['minlength'] && (confirmPassword.touched || confirmPassword.dirty)"> 
                        Confirm password is too Short.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="confirmPassword.errors?.['maxlength'] && (confirmPassword.touched || confirmPassword.dirty)"> 
                        Confirm password is too Long.
                    </div><div class="form-text text-danger pt-2" *ngIf="form.hasError('passwordMismatch')&& (confirmPassword.touched || confirmPassword.dirty)"> 
                        Passwords don't match.
                    </div>
                </div>

                <div *ngIf="showOtpField" class="input-box">
                    <span (click)="oHide = !oHide" class="icon" style="cursor: pointer;"><mat-icon>{{ oHide?"visibility":"visibility_off" }}</mat-icon></span>
                    <input [type]=" oHide? 'password':'text' "  formControlName="otp" required>
                    <label>Enter Otp</label>
                    <div class="form-text text-danger pt-2" *ngIf="otp.errors?.['required'] && (otp.touched || otp.dirty || invalid)"> 
                        otp is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="otp.errors?.['minlength'] && (otp.touched || otp.dirty)"> 
                        otp is too Short.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="otp.errors?.['maxlength'] && (otp.touched || otp.dirty)"> 
                        otp is too Long.
                    </div>
                </div>




                <button type="submit" class="bttn" >Register</button>
                <div class="login-register">
                    <p>Don't have an account? <a routerLink="/user/login" class="register-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
  </body>
  