<header class="antialiased">
    <nav class="relative bg-white border-gray-200 z-50  px-4 lg:px-6 py-2.5 dark:bg-gray-800 transition-transform hover:scale-100 cursor-pointer shadow-xl  hover:shadow-black"
        style="z-index:1000">
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center">
                <ng-content></ng-content>
                <a routerLink="/user/salons" class="flex mr-4 transition-transform hover:scale-105 cursor-pointer ">
                    <span
                        class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">BarberQ</span>
                </a>
            </div>
            <div class="flex items-center lg:order-2">
                <button #userMenuButton type="button"
                    class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600transition-transform hover:scale-105 cursor-pointer  "
                    id="user-menu-button" aria-expanded="false" (click)="toggleDropdown()">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="../../../../../assets/final logo.jpg" alt="user photo">
                </button>
                <!-- Dropdown menu -->
                <div #profileDropdown [class.hidden]="!dropdownVisible"
                    class=" absolute top-full right-0 mt-2  focus:z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    id="profile" style="z-index: 1000;">
                    <div *ngIf="userData" class="py-3 px-4 focus:z-50">
                        <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{userData.name}}</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{userData.email }}
                        </span>
                    </div>
                    <ul class="py-1 focus:z-50 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                        <li>
                            <a routerLink="/user/profile"
                                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My
                                Profile</a>
                        </li>

                    </ul>

                    <ul class="py-1 focus:z-50 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                        <li *ngIf="userData">
                            <a (click)="onLogout()"
                                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                                out</a>
                        </li>
                        <li *ngIf="!userData">
                            <a routerLink="/user/login"
                                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                                In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>