
body{
    background: #000;
}

.card-image {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}


.bg-gray-900\/50 {
    background-color: none;
  }

 .pagination .active {
    background-color: #007bff;
    color: #ffffff;
    
}

