<div class="fixed z-20 w-full  top-0 start-0 ">
    <app-user-navbar>
        <button aria-expanded="true" aria-controls="drawer-example" type="button" data-drawer-target="drawer-example"
            data-drawer-show="drawer-example"
            class="hidden p-2 mr-3 text-gray-600 rounded cursor-pointer lg:inline transition-transform hover:scale-105  hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h14M1 6h14M1 11h7" />
            </svg>
        </button>
    </app-user-navbar>
    <form [formGroup]="searchForm" class="max-w-lg mx-auto">
        <div class="flex transition-transform hover:scale-105 cursor-pointer shadow-xl  hover:shadow-black">


            <div class="flex flex-row relative mt-3 w-full">

                <button id="nearby" (click)="showLoader()" [disabled]="loadingNearbySalons"
                    class="flex-shrink-0 z-20 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white dark:border-gray-600">
                    <ng-container *ngIf="loadingNearbySalons; else buttonContent">
                        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-black animate-spin"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="#E5E7EB" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentColor" />
                        </svg>
                        Nearby
                    </ng-container>
                    <ng-template #buttonContent>
                        Nearby
                    </ng-template>
                </button>

                <input formControlName="searchQuery" type="search" id="search-dropdown"
                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                    placeholder="{{ loadingNearbySalons ? 'Fetching salons nearby...' : 'Search for salons...' }}"
                    required />
                <button type="button"
                    class="absolute top-0 end-0 p-2.5 z-20 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>
    </form>

</div>
<!-- Content start -->
<div class="pt-32">
    <div>
        <!-- drawer component -->
        <form (submit)="applyFilters()" [formGroup]="searchForm" id="drawer-example"
            class="fixed top-0 left-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
            tabindex="-1" aria-labelledby="drawer-label">
            <h5 id="drawer-label"
                class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
                Apply filters
            </h5>
            <button type="button" data-drawer-dismiss="drawer-example" aria-controls="drawer-example"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close menu</span>
            </button>

            <div class="flex flex-col justify-between flex-1">
                <div class="space-y-6">
                    <!-- Categories -->
                    <div class="space-y-2">
                        <h6 class="text-base font-medium text-black dark:text-white">
                            Facilities
                        </h6>


                        <div *ngFor="let facility of facilities">

                            <div class="flex items-center">
                                <input [id]="facility" type="checkbox" [value]="facility"
                                    [checked]="selectedFacilities[facility]" (change)="checkbox($event)"
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

                                <label [for]="facility"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                    {{ facility }}
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- Rating -->
                </div>
                <div class="bottom-0 left-0 flex justify-center w-full pb-4 mt-6 space-x-4 md:px-4 md:absolute">
                    <button type="submit" data-drawer-dismiss="drawer-example"
                        class="w-full px-5 py-2 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-700 dark:hover:bg-primary-800 dark:focus:ring-primary-800">
                        Apply filters
                    </button>
                    <button type="button" (click)="resetFilter()" data-drawer-dismiss="drawer-example"
                        class="w-full px-5 py-2 text-sm font-medium text-white bg-red-700 hover:bg-red-600 border border-gray-200 rounded-lg focus:outline-none  focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Clear all
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="h-56 flex flex-wrap justify-center  gap-4 py-5 pb-9 content-start">


        <ng-container *ngIf="isLoading; else salonsContent">

            <div class="skeleton card card-compact w-96" *ngFor="let _ of [1,2,3,4,5,6]">
                <figure>

                    <img alt="image" class="card-image text-transparent" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-transparent "> salon.salonName </h2>
                    <p class="text-transparent"> salon.locality</p>


                    <div class="card-actions justify-end">
                        <button
                            class="btn bg-black text-transparent skeleton transition-transform hover:scale-105 hover:border-white">Book
                            A
                            Chair</button>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #salonsContent>
            <ng-container *ngFor="let salon of Salons; trackBy: trackBySalonId">
                <div class="transition-transform hover:scale-105 cursor-pointer" (click)="viewSalonDetails(salon)">
                    <div
                        class=" card card-compact relative  mb-5 w-96 text-black bg-white  shadow-lg hover:shadow-black hover:border  hover:border-white ">
                        <div *ngIf="salon.isPremium==1"
                            class="badge absolute top-0 left-0 badge-warning ms-1 mt-1 me-4 badge-lg">
                            Premium </div>
                        <figure>
                            <!-- Lazy loading image -->
                            <img loading="lazy" [src]="salon.banners[0]" alt="Salon Image" class="card-image" />
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">{{ salon.salonName }}</h2>
                            <p>{{ salon.locality }}</p>


                            <div class="card-actions justify-end">
                                <button (click)="bookChair(salon)"
                                    class="btn bg-black text-white skeleton transition-transform hover:scale-105 hover:border-white">Book
                                    A
                                    Chair</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-template>

        <nav class="z-20 flex justify-center content-center w-full  " aria-label="Page navigation example">
            <ul
                class="pagination inline-flex -space-x-px text-sm transition-transform hover:scale-105 cursor-pointer shadow-xl  hover:shadow-black ">
                <li>
                    <a (click)="previousPage()"
                        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight transition-transform hover:scale-105 text-gray-500 bg-white border border-e-0 border-black rounded-s-lg hover:bg-white hover:text-black dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li *ngFor="let page of totalPages()">
                    <a (click)="setCurrentPage(page)" [class.active]="currentPage === page"
                        class="flex items-center justify-center px-3 h-8 leading-tight transition-transform hover:scale-105 text-gray-500 bg-white border border-black hover:bg-white hover:text-black dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page}}</a>
                </li>
                <li>
                    <a (click)="nextPage()"
                        class="flex items-center justify-center px-3 h-8 leading-tight transition-transform hover:scale-105 text-gray-500 bg-white border border-black rounded-e-lg hover:bg-white hover:text-black dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul>
        </nav>

        <app-footer class="w-full"></app-footer>
    </div>
</div>
<!-- content end -->