<!-- Navbar Start -->
<app-user-navbar></app-user-navbar>

<!-- Navbar End -->
<!-- Content start -->

<div class="h-56 flex flex-wrap justify-center  gap-4 py-5 pb-9 content-start  ">


    <div *ngFor="let salon of Salons; trackBy: trackBySalonId " (click)="viewSalonDetails(salon)"
        class="transition-transform hover:scale-105 cursor-pointer ">
        <div class="skeleton card card-compact w-96 bg-black shadow-lg hover:shadow-purple-700 ">
            <figure><img loading="lazy" src={{salon.banners[0]}} alt="Salon Image" class="card-image" /></figure>
            <div class="card-body">
                <h2 class="card-title">{{salon.salonName}}</h2>
                <p>{{salon.locality}}</p>
                <div class="card-actions justify-end">
                    <button (click)="bookChair(salon)" class="btn hover:border-white">Book A Chair</button>
                </div>
            </div>
        </div>
    </div>











</div>















<!-- content end -->