*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../../../assets/bg3.jpg') no-repeat;
    background-size: cover;
    background-position: right;
  }
  
  .forgot{
    text-align: end;
  }
  
  .wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper .form-box{
    width: 200%;
    padding: 40px;
  }
  
  .form-box h2 {
    font-size: 2em;
    color: #123456;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s ease; 
}

.form-box h2:hover {
    color: whitesmoke; 
}
  
  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #123456;
    margin: 30px 0;
    transition: border-bottom-color 1.5s ease;
  }

  .input-box:focus-within{
    border-bottom-color:greenyellow
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #123456;
    font-weight: 500;
    pointer-events: none;
    transition: color 0.3s ease; 
  }
  
  .input-box:hover label {
    color: white; 
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: 3px;
  }

  .input-box input:focus {
    outline: none !important;
    box-shadow: none !important;
}
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:gold ;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #123456;
    line-height: 57px;
    transition: color 0.3s ease, font-size 0.3s ease; 
}

.input-box .icon:hover {
    color: #f1ee98; 
    font-size: 1.5em; 
}
  
  .remember-forgot a{
    color: #162938;
    text-decoration: none;
  }
  
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  
  .bttn {
    width: 100%;
    height: 45px;
    background: #123456;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
    transition: background-color 1.5s ease; 
}

.bttn:hover {
    background-color:#f1ee98 ;
    color:#123456;
    font-weight: 600; 
}
  
  .login-register{
    font-size: .9rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a{
    color: cyan;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover{
    text-decoration: underline;
  }
  
  .text-danger{
    color: red;
    font-style: italic;
    font-size: smaller;
  }

