<div class="flex flex-col h-zk relative mt-0 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel"
    aria-labelledby="settings-tab">

    <div class="flex flex-col h-full  ">
        <div class="flex-grow h-5/6 overflow-y-auto p-4 " #userMessagesContainer>
            <div class="flex flex-col gap-4">
                <ng-container *ngFor="let msg of messages">
                    <div class="chat {{ msg.senderId === userData._id ? 'chat-end' : 'chat-start' }}">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img alt="Tailwind CSS chat bubble component"
                                    src="{{ msg.senderId === userData._id ? '../../../../assets/final logo.jpg' : '../../../../assets/admin.jpg'}}  " />
                            </div>
                        </div>
                        <div class="chat-header text-black">
                            {{ msg.senderId === userData._id ? userData.name : 'Admin' }}

                        </div>
                        <div class="chat-bubble chat-bubble-info text-white ">{{msg.text}}</div>
                        <div class="chat-footer opacity-50">
                            <time class="text-xs text-gray-700">{{ msg.createdAt | date:"hh:mm a"}}</time>
                            {{ msg.senderId === userData._id ? '✔' : '' }}

                        </div>
                    </div>





                </ng-container>
            </div>
        </div>
        <div class="p-4  h-1/6 rounded-lg bg-gray-100 dark:bg-gray-800">
            <form (ngSubmit)="sendMessage()" class="flex gap-2">
                <input type="text" [(ngModel)]="newMessage" name="newMessage" placeholder="Type your message..."
                    class="flex-grow px-4 py-2 rounded-lg bg-white dark:bg-gray-700 dark:text-white" />
                <button class="btn bg-blue-600 text-white px-4 py-2 rounded-lg" type="submit">
                    Send
                </button>
            </form>
        </div>
    </div>

</div>