<!-- Navbar Start -->
<app-user-navbar></app-user-navbar>
<!-- Navbar End -->

<!-- Content Start -->
<div class="container mx-auto">
    <div class="mt-8 flex flex-wrap justify-center gap-4 py-5 content-start">
        <div>
            <!-- Card start -->
            <div class="card card-side bg-base-100 shadow-xl transition-transform hover:scale-105 cursor-pointer shadow-lg hover:shadow-purple-700">
                <figure><img src={{salon.banners[0]}} class="card-image" alt="Movie" /></figure>
                <div class="card-body">
                    <h1 class="card-title">{{salon.salonName}}</h1>
                    <p>Details</p>
                   
                </div>
            </div>
            <!-- Card end -->
            <div class="datepicker gap-4 py-10 transition-transform hover:scale-105">

            <app-date-picker></app-date-picker>
            </div>
            
        </div>
    </div>
</div>

  
  
  <!-- Content End -->