<!-- Navbar Start -->
<app-user-navbar></app-user-navbar>
<!-- Navbar End -->

<!-- Content Start -->
<div class="container mx-auto">
    <div class="mt-8 flex flex-wrap justify-center gap-4 py-5 content-start">
        <div class="skeleton">
            <!-- Card start -->
            <div
                class="card card-side bg-base-100 shadow-xl transition-transform hover:scale-105 cursor-pointer shadow-lg hover:shadow-purple-700">
                <figure><img src={{salon.banners[0]}} class="card-image" alt="Movie" /></figure>
                <div class="card-body">
                    <h1 class="card-title">{{salon.salonName}}</h1>
                    <span>
                        {{salon.landmark}}<br>
                        {{salon.locality}}<br>
                        {{salon.district}}
                    </span>

                    <span>No. Of Chairs:{{salon.chairCount}}</span>


                    <div class="card-actions justify-end">
                        <button (click)="bookChair(salon)" class="btn hover:border-white">Book A Chair</button>

                        <!-- <button routerLink="/user/salons/book-a-chair" class="btn hover:border-white">Book A Chair</button> -->
                    </div>
                </div>
            </div>
            <!-- Card end -->

            <!-- Accordion Start -->

            <div class="accordion gap-4 py-10 transition-transform hover:scale-105">
                <div (click)="openAccord($event, 'serviceAccord')" class="collapse collapse-plus bg-base-200 ">
                    <input type="radio" id="serviceAccord" name="serviceAccordion" value="serviceAccord" />
                    <div class="collapse-title text-xl font-medium" for="serviceAccord">
                        Services
                    </div>
                    <div class="collapse-content">
                        <p>hello</p>
                    </div>
                </div>

                <div (click)="openAccord($event, 'aboutAccord')" class=" collapse collapse-plus bg-base-200">
                    <input type="radio" id="aboutAccord" name="aboutAccordion" value="aboutAccord" />
                    <div class="collapse-title text-xl font-medium" for="aboutAccord">
                        About
                    </div>
                    <div class="collapse-content">
                        <p>hello</p>
                    </div>
                </div>

                <div (click)="openAccord($event, 'ratingAccord')" class="collapse collapse-plus bg-base-200">
                    <input type="radio" id="ratingAccord" name="ratingAccordion" value="ratingAccord" />
                    <div class="collapse-title text-xl font-medium" for="ratingAccord">
                        Reviews & Ratings
                    </div>
                    <div class="collapse-content">
                        <p>hello</p>
                    </div>
                </div>
                <div (click)="openAccord($event, 'contactAccord')" class="collapse collapse-plus bg-base-200">
                    <input type="radio" id="contactAccord" name="contactAccordion" value="contactAccord" />
                    <div class="collapse-title text-xl font-medium" for="contactAccord">
                        Contact
                    </div>
                    <div class="collapse-content">
                        <p>hello</p>
                    </div>
                </div>
            </div>



            <!-- Accordion End -->
        </div>
    </div>
</div>



<!-- Content End -->